body {
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
}

body * {

  box-sizing: border-box;
}

a:hover {
	text-decoration: underline;
}

nav, section {
  margin-bottom: 30px;
}

.navbar {
	background: rgb(238, 238, 238);
	position: fixed;
  	left: 0;
  	right: 0;
	height: 50px;
	width: 100%;
	padding-top: 0;
}

nav span {
	margin: 15px 15px 15px;
	font-size: 18px;
	display: block;
	float: left;
	clear: right;
}

nav ul {
	display: inline-block;
	float: right;
	list-style: none;
}

nav li {
	display: inline-block;
	padding-right: 0;
	padding-left: 10px;
}

main {
	padding-top: 90px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 100px;
}

.sform {
	//margin-top: 10px;
}

.search label {
	display: block;
  margin-bottom: 8px;
}

.search input {
	display: inline-block;
	width: 30%;
	font-size: 16px;
	margin-top: 20px;
	height: auto;

}

button {
	color: rgb(255, 255, 255);
}

.search .simg {
	width: 37px;
	height: 30px;
	padding: 2px 6px 3px 6px;
	background-color: #fff;
	vertical-align: bottom;
}

.paginate {
	margin-top: 50px;
	font-size: 15px;
	display: block;
  	border-radius: 3px;
}

div.inner {
	display: inline-block;
  	padding: 10px;
  	width: auto;
  	border: 1px solid rgb(232, 232, 232);
}
.paginate {
}


.paginate div {

	display: inline-block;
	text-align: center;
}

.posts {
	margin-top: 20px;
	color: rgb(221, 221, 221);
	padding: 0;
}

.post {
	margin-bottom: 15px;
}

.post span {
	display: inline-block;
	padding-right: 10px;
	color: rgb(153, 153, 153);
}

.post a {
	font-weight: 600;
}

span a {
	color: rgb(0, 0, 255);
}

footer {
	margin-top: 100px;
	text-align: center;
}